# Puerto del servidor
PORT=3000

# Nombre de la sesión guardada en Firestore
SESSION_NAME=godelivery_main_bot

# URL de la webapp de GoDelivery
APP_URL=https://godelivery-magdalena.web.app

# JSON con las credenciales de Firebase Service Account (Para Render / Koyeb / Railway)
# Se copia y pega todo el contenido del archivo serviceAccountKey.json en una sola línea
FIREBASE_SERVICE_ACCOUNT_JSON=

# ID del proyecto de Firebase
FIREBASE_PROJECT_ID=godelivery-magdalena
